<ion-item lines="none">
  <ion-toggle (ionChange)="onClick($event)" slot="end"></ion-toggle>
</ion-item>
<ion-content>
  <app-header text="Jártasság felmérése"></app-header>
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide">
        <img src="./assets/logo.png" />
        <h2>Üdvözöllek a loremipsum applikációban!</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur odio in enim sodales euismod. Sed finibus dui sit amet malesuada dapibus. Mauris vitae tellus ipsum. In tempus sapien eu eros sollicitudin, sodales convallis nunc viverra. Morbi vitae dui vel lacus faucibus volutpat id id mauris. In rutrum velit nibh, eu sagittis felis scelerisque a. Nullam odio purus, pharetra vel massa aliquet, luctus blandit eros.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/logo.png" />
      <h2>Mire való ez az applikácó?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur odio in enim sodales euismod. Sed finibus dui sit amet malesuada dapibus. Mauris vitae tellus ipsum. In tempus sapien eu eros sollicitudin, sodales convallis nunc viverra. Morbi vitae dui vel lacus faucibus volutpat id id mauris. In rutrum velit nibh, eu sagittis felis scelerisque a. Nullam odio purus, pharetra vel massa aliquet, luctus blandit eros.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/logo.png" />
      <h2>Mi a célunk?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur odio in enim sodales euismod. Sed finibus dui sit amet malesuada dapibus. Mauris vitae tellus ipsum. In tempus sapien eu eros sollicitudin, sodales convallis nunc viverra. Morbi vitae dui vel lacus faucibus volutpat id id mauris. In rutrum velit nibh, eu sagittis felis scelerisque a. Nullam odio purus, pharetra vel massa aliquet, luctus blandit eros.</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/logo.png" />
      <h2>Készen állsz?</h2>
      <ion-button fill="clear" routerLink="/home"
        >Igen! <ion-icon slot="end" name="arrow-forward"></ion-icon
      ></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>