<ion-item lines="none">
  <ion-toggle (ionChange)="onClick($event)" slot="end"></ion-toggle>
  <ion-title>Hogyan szeretné folytatni?</ion-title>
</ion-item>
<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar class="nav">
      <ion-title class="nav_title">Navigation</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/profile-details']" class="nav_item">Profile details</ion-item>
      <ion-item [routerLink]="['/connected-devices']" class="nav_item">Connected devices</ion-item>
      <ion-item [routerLink]="['/manual-input']" >Manual data input</ion-item>
      <ion-item [routerLink]="['/charts-statistics']" >Graphs and Statistics</ion-item>
      <ion-item [routerLink]="['/settings']"class="nav_item">Setting</ion-item>
      <ion-item [routerLink]="['/login']" >Login</ion-item>
      <ion-item [routerLink]="['/registration']" >Registration</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content>

</ion-content>
