<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class="gomb" type="submit" color="darkgrey" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>
    <small class="szoveg">
      Please input the email address that you have registered with to the application.
    </small>
  </form>
</ion-content>