.gomb{
    color: black; 
    background-color: darkgray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 5%;
}
.szoveg{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ion-grid{
    display:block;
    padding:20% 10% 10% 10%;
}
ion-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}