.gomb{
    color: black; 
    background-color: darkgray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 5%;
}
ion-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}